@import "tailwindcss";

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(12, 12, 12, 0.95), rgba(12, 12, 12, 0.95)), url(http://pixontechs.com/wp-content/uploads/2025/05/city-lights-abstract-central-building-Large.jpeg);
}